<editor name="SiteEditExtensions" xmlns="http://www.sdltridion.com/2009/GUI/Configuration">
    <installpath>directory-where-the-gui-extension-resides</installpath>
    <configuration>configuration-file-name-of-the-gui-extension</configuration>
    <vdir>iis-virtual-directory-name</vdir>
</editor>